UpdateStorageQuotaForSelectedSite/Microsoft.Flow/flows/df62bf3d-e03d-44f5-b21b-c85c3bbbb037/definition.json
{"name":"56f41856-4f15-4c12-9fc5-ac88ce206d47","id":"/providers/Microsoft.Flow/flows/56f41856-4f15-4c12-9fc5-ac88ce206d47","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Update Storage Quota For Selected Site","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4822795f-520d-4742-8284-d9806ee78863","type":"User","tenantId":"9a1dc6cb-d05f-48e3-bff9-22d301b8c73b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-07-25T13:25:51.702564Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"2ef1b50a-814c-4a69-a80c-afa2590a16eb"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"number":{"title":"Please enter desired storage quota for this case site","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"}},"required":["number"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-unitedstates-002-westus-01.azure-apim.net/apim/sharepointonline"}},"operationId":"GetItemHybridTriggerSchema","parameters":{"dataset":"https://jasonofterpsys.sharepoint.com/sites/ShowCaseCommunicationSite","table":"d3f14564-9ae8-4913-9f24-256c3bab1b22"}}}},"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"ef46c60e-0b3a-49a0-a1b2-2cd9ae8fa346"},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"object","properties":{"entity":{"type":"object","properties":{"ID":{"type":"integer"},"itemUrl":{"type":"string"},"fileName":{"type":"string"},"FileId":{"type":"string"}}}}}}},"Constants":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"2e930410-d222-4337-86b8-55d55a884841"},"type":"ParseJson","inputs":{"content":{"SiteUrl":"@split(body('Parse_JSON')?['entity'\n        ]?['itemUrl'\n        ], '/_layouts')[\n            0\n        ]\n    ","ListId":"@{split(split(body('Parse_JSON')?['entity']?['itemUrl'], '%7B')[1], '%7D')[0]}","ItemId":"@body('Parse_JSON')?['entity']?['ID']","quotaFieldName":"Quota","currentQuotaFieldName":"CurrentQuota","CaseSiteUrlFieldName":"DM_CaseSiteUrl","subscriptionId":"4c947d6d-a2f1-4900-97cf-63c8e4b105b5","resourceGroupName":"GroupAA","automationAccount":"TestingAutomationAccount","runbookName":"ConnectWithPnPOnlineAndCertificate"},"schema":{"type":"object","properties":{"SiteUrl":{"type":"string"},"ListId":{"type":"string"},"ItemId":{"type":"integer"},"quotaFieldName":{"type":"string"},"currentQuotaFieldName":{"type":"string"},"CaseSiteUrlFieldName":{"type":"string"},"subscriptionId":{"type":"string"},"resourceGroupName":{"type":"string"},"automationAccount":{"type":"string"},"runbookName":{"type":"string"}}}}},"Get_item":{"runAfter":{"Constants":["Succeeded"]},"metadata":{"operationMetadataId":"5d6bf051-2660-4760-876a-9133a27ef838"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"@body('Constants')?['SiteUrl']","table":"@body('Constants')?['ListId']","id":"@body('Constants')?['ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_job":{"runAfter":{"Variables":["Succeeded"]},"metadata":{"operationMetadataId":"32ff1731-f6a3-4723-957e-f65b535c7ed1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azureautomation","connectionName":"shared_azureautomation","operationId":"CreateJob"},"parameters":{"subscriptionId":"4c947d6d-a2f1-4900-97cf-63c8e4b105b5","resourceGroupName":"GroupAA","automationAccount":"TestingAutomationAccount","runbookName":"ConnectWithPnPOnlineAndCertificate","wait":true,"body/properties/parameters/siteUrl":"@body('Variables')?['CaseSiteUrl']","body/properties/parameters/storageQuota":"@body('Variables')?['StorageQuota']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_job_output":{"runAfter":{"Create_job":["Succeeded"]},"metadata":{"operationMetadataId":"0ecc28f5-691f-4582-a71f-56d0f630f084"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azureautomation","connectionName":"shared_azureautomation","operationId":"GetJobOutput"},"parameters":{"subscriptionId":"4c947d6d-a2f1-4900-97cf-63c8e4b105b5","resourceGroupName":"GroupAA","automationAccount":"TestingAutomationAccount","jobId":"@outputs('Create_job')?['body/properties/jobId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Variables":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"ae4ca314-709e-46d1-9f54-ecf5e35a6538"},"type":"ParseJson","inputs":{"content":{"CaseSiteUrl":"@body('Get_Item')?[body('Constants')?['CaseSiteUrlFieldName']]","StorageQuota":"@triggerBody()['number']"},"schema":{"type":"object","properties":{"CaseSiteUrl":{"type":"string"},"StorageQuota":{"type":"integer"}}}}},"JobResult":{"runAfter":{"Get_job_output":["Succeeded"]},"metadata":{"operationMetadataId":"b4e5afe8-5664-4ef6-af77-28f837917b69"},"type":"ParseJson","inputs":{"content":{"output":"@body('Get_job_output')","Success":"@endsWith( trim(outputs('Get_job_output')?['body']),'Success')"},"schema":{"type":"object","properties":{"output":{"type":"string"},"Success":{"type":"boolean"}}}}},"If_job_is_successful":{"actions":{"UpdateCurrentQuota":{"runAfter":{},"metadata":{"operationMetadataId":"86694d1d-a850-4e92-a8d6-baa20fed6ba2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@body('Constants').SiteUrl","parameters/method":"POST","parameters/uri":"_api/web/lists(guid'@{body('Constants')?['ListId']}')/items(@{body('Constants')?['ItemID']})/ValidateUpdateListItem()","parameters/headers":{"Content-Type":"application/json"},"parameters/body":"{\n        \"formValues\": [\n            {\n                \"FieldName\": \"@{body('Constants')?['quotaFieldName']}\",\n                \"FieldValue\": \"@{body('Variables')?['StorageQuota']}\"\n            }\n        ],\n        \"bNewDocumentUpdate\": false\n    }"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate":{"runAfter":{"UpdateCurrentQuota":["Succeeded"]},"metadata":{"operationMetadataId":"5d6bfb7b-7948-4b69-a0a3-d33170f0775d"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"JobResult":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"5d6bfb7b-7948-4b69-a0a3-d33170f0775d"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"@body('JobResult')?['output']"}}}}},"expression":{"equals":["@body('JobResult')?['Success']","@true"]},"metadata":{"operationMetadataId":"6e5ec4f0-a779-4b78-b3f0-f2145b0c3a3a"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3caddee4b3a34d8697edc063f52848a3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_azureautomation":{"connectionName":"shared-azureautomati-8d87bd96-d813-4ec2-a48c-754c3044a2ae","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_azureautomation","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}